.card {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 16px;
    gap: 16px;

    width: 392px;

    background: #181A2A;
    border: 1px solid #242535;
    border-radius: 12px;

    font-family: 'Work Sans';
    font-style: normal;

    margin-bottom: 20px;
}

.card:hover{
    background: linear-gradient(180deg, rgba(75, 107, 251, 0.4) 0%, rgba(24, 26, 42, 0.4) 100%);
}

.card_img {
    width: 360px;
    height: 240px;
    border-radius: 8px;
}
.card_tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 4px;

    width: 97px;
    height: 28px;

    background: rgba(75, 107, 251, 0.05);
    border-radius: 6px;
}

.card_tag_text{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4B6BFB;
}

.card_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.author, .date {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #97989F;
}

.author {
    font-weight: 500;
    display: flex;
    align-items: center;
}

.author_img {
    margin-right: 10px;
}

.date {
    font-weight: 400;
    margin-left: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}