.footer {
    background: #141624;
    border-top: 1px solid #242535;
}

.footer_wrapper {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.year {
    color: white;
}

.footer_link {
    color: white;
    text-decoration: none;
    text-decoration: underline;
}