.button {
    padding: 8px 20px;
    gap: 12px;

    margin: 10px 0;

    /* width: 320px; */
    /* height: 48px; */

    background: #4B6BFB;
    border-radius: 6px;
    cursor: pointer;

    border: none;
    color: white;
}

.button:hover {
    background: #1A33A3;
}